<div class="main">
  <nav class="navbar">
    <div
      class="container"
      style="
    display: flex;
    justify-content: center;
    align-items: center;"
    >
      <a class="navbar-brand" href="https://www.unpa.edu.mx/">
        <img
          src="https://www.unpa.edu.mx/images/suneo/unpa.jpg"
          width="30"
          height="30"
          alt="Logo"
        />
      </a>
      <h1>Revision de Tesis</h1>
    </div>
  </nav>
  @if(flag==true){
  <div
    style="background-color: rgba(255, 255, 255, 0.5); margin:30px; padding:30px;"
  >
    <app-detalle></app-detalle>
    <button type="submit" onclick="volver()">Volver</button>
  </div>
  }@else{
  <div
    style="background-color: rgba(255, 255, 255, 0.5); margin:30px; padding:30px;"
  >
    <app-tabla-alumnos (flag)="handleFlagChange($event)"></app-tabla-alumnos>
  </div>

  }
</div>
